body {
    background-color: #f2f2f2;
}

.dropdown-menu-width-overide {
    min-width: 7rem !important;
}

.nav-link::after {
    color: #ffffff;
}

.set-full-height {
    position: absolute;
    bottom: 0px;
    top: 70px;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 1em;
    content: '>';
}

.min-w-200 {
    min-width: 200px !important;
}

.sidebar {
    height: calc(100vh - 70px);
}

.h-70 {
    height: 70px !important;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon-solid::before {
    font: var(--fa-font-solid);
}

.icon-angle-right::before {
    content: "\f054";
  }


  .sidebar-link > li:hover {
    text-decoration: underline;
  }

  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}