{% extends "base/portal_base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
    <div class="col-md-4"></div>
    <main class="form-signin col-md-4 mt-5">
    <form method="POST" action=".">
        {% csrf_token %}
        <img class="mb-4" src="https://fastly.picsum.photos/id/15/200/200.jpg?hmac=8F3A7g2kO57xRlUcdio-9o4LDz0oEFZrYMldJkHMpVo" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
        <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
        </div>

        {% comment %} <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        {% if messages %}
        <div class="alert alert-info mt-2">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
    </form>
    </main>
    <div class="col-md-4"></div>
    </div>
{% endblock %}
