{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!--Set breadcrumb trail-->
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-white mb-4 rounded shadow-sm">
                <ol class="breadcrumb py-2 px-3">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cases</li>
                </ol>
            </nav>
            <!--Main content-->
            <div class="container-fluid bg-white px-3 py-3 mt-2 rounded shadow-sm">
                <div class="row mb-3 justify-content-between">
                    <div class="col-sm-auto">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h2 class="fs-4 pt-1">Cases</h2>
                            </div>
                            <div class="col-sm-auto">
                                <select class="form-select" aria-label="Default select example" id="case-filter-select">
                                    <option value="all" {% if not filter %}selected{% endif %}>All</option>
                                    <option value="open" {% if filter == 'open' %}selected{% endif %}>Open</option>
                                    <option value="closed" {% if filter == 'closed' %}selected{% endif %}>Closed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto search-box text-end">
                        <form method="GET" action=".">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Case number" aria-label="Case number" name="search" aria-describedby="button-search" value="{{ request.GET.search }}">
                                <button class="btn btn-outline-primary" type="submit" id="button-search"><i class="iconify d-block mx-auto my-1 fs-3" data-icon="mdi-search"></i></button>
                                <button type="button" class="btn btn-outline-success"><a class="btn-add-new" href="{% url 'cases:case-create' %}"><i class="iconify d-block mx-auto my-1 fs-3" data-icon="mdi-plus"></i></a></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Case No.</th>
                                <th>Case</th>
                                <th>Type</th>
                                <th>Assigned</th>
                                <th>Status</th>
                                <th class="text-center"><i class="iconify fs-5" data-icon="mdi-file-document-edit-outline"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--Populate table from database results-->
                        {% for case in cases %}
                            <tr>
                                <td>{{ case.case_number }}</td>
                                <td>{{ case.case_name }}</td>
                                <td>{{ case.type }}</td>
                                <td>{{ case.assigned }}</td>
                                <td>{{ case.status }}</td>
                                <td class="text-center"><a href="{% url 'cases:case-details' case.pk %}">View</a></td>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock content %}