{% extends "base/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<!--Main content-->
<div class="container-fluid overflow-hidden px-4 py-3 mx-0">
    <div class="row gx-5 mb-3">
        <div class="col-md mt-2">
            <div class="row justiy-content-between p-3 bg-info text-white rounded shadow-sm">
                <div class="col">
                    <h3 id="open_cases">Open Cases: </h3>
                </div>
                <div class="col text-end">
                    <div class="dashboard_case_stat" aria-labelledby="open_cases">{{ total_open_cases }}</div>
                </div>
            </div>
        </div>
        <div class="col-md mt-2">
            <div class="row justiy-content-between p-3 bg-danger text-white rounded shadow-sm">
                <div class="col">
                    <h3 id="open_cases">Due for Review: </h3>
                </div>
                <div class="col text-end">
                    <div class="dashboard_case_stat" aria-labelledby="open_cases">{{ total_review }}</div>
                </div>
            </div>
        </div>
        <div class="col-md mt-2">
            <div class="row justiy-content-between p-3 bg-warning text-white rounded shadow-sm">
                <div class="col">
                    <h3 id="open_cases">Total Cases: </h3>
                </div>
                <div class="col text-end">
                    <div class="dashboard_case_stat" aria-labelledby="open_cases">{{ total_cases }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-4 py-3 mt-2">
    <div class="row gx-5 mb-3 justify-content-between">
        <div class="col-md-8">
            <div class="row bg-white rounded shadow-sm h-200 px-3 py-3 overflow-auto">
                <div class="col">
                    <h2 class="fs-4 pt-1">My Tasks</h2>
                    <div class="table-responsive">
                        {% if tasks %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th class="text-center">Due By</th>
                                        <th class="text-center">Complete?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!--Populate table from database results-->
                                {% for task in tasks %}
                                    <tr {% if task.due_date < now %} class="table-warning" {% endif %}>
                                        <td>{{ task.task }}</td>
                                        <td class="text-center">{{ task.due_date }}</td>
                                        <td class="text-center"><a href="#">View</a></td>
                                    </tr>
                                {% endfor %}    
                                </tbody>
                            </table>
                        {% else %}
                            <div class="col-12 text-center pt-4">
                            <h3 class="fs-4 pt-1">You have no tasks!</h3>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row bg-white rounded shadow-sm px-3 py-3">    
                <div class="col">
                <form method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ form.task|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-8">{{ form.due_date|as_crispy_field }}</div>
                        <div class="col-4 pt-4 text-end"><button type="submit" class="btn btn-primary px-3 me-1 mt-2">Save</button></div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-4 py-3 mt-2 ">
    <div class="row bg-white rounded shadow-sm px-3 py-3">
        <div class="col col-10"><h2 class="fs-4 pt-1">Cases due for review</h2></div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Case No.</th>
                        <th>Case</th>
                        <th>Type</th>
                        <th>Assigned</th>
                        <th>Review Date</th>
                        <th class="text-center"><i class="iconify fs-5" data-icon="mdi-file-document-edit-outline"></i></th>
                    </tr>
                </thead>
                <tbody>
                <!--Populate table from database results-->
                {% for case in review_cases %}
                    <tr>
                        <td>{{ case.case_number }}</td>
                        <td>{{ case.case_name }}</td>
                        <td>{{ case.type }}</td>
                        <td>{{ case.assigned }}</td>
                        <td>{{ case.review_date }}</td>
                        <td class="text-center"><a href="{% url 'cases:case-details' case.pk %}">View</a></td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
