{% extends "base/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <!--Set breadcrumb trail-->
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-white mb-4 rounded shadow-sm">
                <ol class="breadcrumb py-2 px-3">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Clients</li>
                </ol>
            </nav>
            <!--Main content-->
            <div class="container-fluid bg-white px-3 py-3 mt-2 rounded shadow-sm">
                <div class="row mb-3 justify-content-between">
                    <div class="col-sm-auto">
                        <div class="row">
                            <div class="col-sm-auto">
                                <h2 class="fs-4 pt-1">Clients</h2>
                            </div>
                            <div class="col-sm-auto">
                                <select class="form-select" aria-label="Default select example" id="client-filter-select">
                                    <option value="all" {% if not filter %}selected{% endif %}>All</option>
                                    <option value="active" {% if filter == 'active' %}selected{% endif %}>Active</option>
                                    <option value="inactive" {% if filter == 'inactive' %}selected{% endif %}>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-auto search-box text-end">
                        <form method="GET" action=".">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Client Name" aria-label="Client name" name="search" aria-describedby="button-search" value="{{ request.GET.search }}">
                                <button class="btn btn-outline-primary" type="submit" id="button-search"><i class="iconify d-block mx-auto my-1 fs-3" data-icon="mdi-search"></i></button>
                                <button type="button" class="btn btn-outline-success"><a class="btn-add-new" href="{% url 'clients:client-create' %}"><i class="iconify d-block mx-auto my-1 fs-3" data-icon="mdi-plus"></i></a></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th class="text-center"><i class="iconify fs-5" data-icon="mdi-file-document-edit-outline"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--Populate table from database results-->
                        {% for client in clients %}
                            <tr>
                                <td>{{ client.display_name }}</td>
                                <td>{{ client.email }}</td>
                                <td>{{ client.phone }}</td>
                                <td>{{ client.building_number }} {{ client.street }} {{ client.city }}</td>
                                <td>{{ client.status }}</td>
                                <td class="text-center"><a href="{% url 'clients:client-details' client.pk %}">View</a></td>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock content %}