{% extends "base/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row mb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!--Set breadcrumb trail-->
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-white mb-4 rounded shadow-sm">
                <ol class="breadcrumb py-2 px-3">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'clients:client-list' %}">Clients</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ client.display_name }}</li>
                </ol>
            </nav>
            <!--Main content-->
            <div class="container-fluid bg-white px-3 py-3 mt-2 rounded shadow-sm">
                <div class="d-flex mb-3">
                    <div class="col col-10"><h2 class="fs-4 pt-1">Client Details</h2></div>
                </div>
                <!--Re-create form layout and populate with client info-->
                <div class="row">
                    <div class="col-sm-8">
                        <div id="div_id_display_name" class="mb-3">
                            <label for="id_display_name" class="form-label requiredField">Display name<span class="asteriskField">*</span></label>
                            <input type="text" name="display_name" value="{{ client.display_name }}" maxlength="64" class="textinput form-control" required id="id_display_name" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="div_id_type" class="mb-3">
                            <label for="id_type" class="form-label requiredField">Type<span class="asteriskField">*</span></label>
                            <select name="type" class="select form-select" id="id_type" disabled>
                                <option value="Buisness" {% if client.type == 'Buisness' %} selected {% endif %}>Buisness</option>
                                <option value="Personal" {% if client.type == 'Personal' %} selected {% endif %}>Personal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div id="div_id_first_name" class="mb-3">
                            <label for="id_first_name" class="form-label">First name</label>
                            <input type="text" name="first_name" value="{{ client.first_name }}" maxlength="64" class="textinput form-control" id="id_first_name" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="div_id_middle_name" class="mb-3">
                            <label for="id_middle_name" class="form-label">Middle name</label>
                            <input type="text" name="middle_name" value="{{ client.middle_name }}" maxlength="64" class="textinput form-control" id="id_middle_name" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="div_id_last_name" class="mb-3">
                            <label for="id_last_name" class="form-label">Last name</label>
                            <input type="text" name="last_name" value="{{ client.last_name }}" maxlength="64" class="textinput form-control" id="id_last_name" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div id="div_id_phone" class="mb-3">
                            <label for="id_phone" class="form-label requiredField">Phone<span class="asteriskField">*</span></label>
                            <input type="tel" name="phone" value="{{ client.phone }}" maxlength="128" class="regionalphonenumberwidget form-control" required id="id_phone" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="div_id_mobile" class="mb-3">
                            <label for="id_mobile" class="form-label">Mobile</label>
                            <input type="tel" name="mobile" value="{{ client.mobile }}" maxlength="128" class="regionalphonenumberwidget form-control" id="id_mobile" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="div_id_email" class="mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            <input type="email" name="email" value="{{ client.email }}" maxlength="124" class="emailinput form-control" id="id_email" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div id="div_id_building_number" class="mb-3">
                            <label for="id_building_number" class="form-label">Building number</label>
                            <input type="text" name="building_number" value="{{ client.building_number }}" maxlength="20" class="textinput form-control" id="id_building_number" disabled>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div id="div_id_street" class="mb-3">
                            <label for="id_street" class="form-label">Street</label>
                            <input type="text" name="street" value="{{ client.street }}" maxlength="64" class="textinput form-control" id="id_street" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div id="div_id_address_2" class="mb-3">
                            <label for="id_address_2" class="form-label">Address 2</label>
                            <input type="text" name="address_2" value="{{ client.address_2 }}" maxlength="64" class="textinput form-control" id="id_address_2" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="div_id_address_3" class="mb-3">
                            <label for="id_address_3" class="form-label">Address 3</label>
                            <input type="text" name="address_3" value="{{ client.address_3 }}" maxlength="64" class="textinput form-control" id="id_address_3" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div id="div_id_city" class="mb-3">
                            <label for="id_city" class="form-label">City</label>
                                <input type="text" name="city" value="{{ client.city }}" maxlength="64" class="textinput form-control" id="id_city" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div id="div_id_post_code" class="mb-3">
                            <label for="id_post_code" class="form-label">Post code</label>
                            <input type="text" name="post_code" value="{{ client.post_code }}" maxlength="64" class="textinput form-control" id="id_post_code" disabled>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div id="div_id_notes" class="mb-3">
                            <label for="id_notes" class="form-label">Notes</label>
                                <textarea name="notes" rows="6" class="textinput form-control" id="id_notes" disabled>{{ client.notes }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-md-end"><button class="btn btn-danger px-3 me-2" onclick="deleteClient({{ client.id }}, '{{ client.display_name }}')">Delete</button><a href="{% url 'clients:client-update' client.pk %}"><button class="btn btn-primary px-3">Update</button></a></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock content %}
